:root {
    --background_color_dark: #24292f;
    --background_color_light_gray: #f6f8fa;
    --background_color: white;
    --background_color_pre: #f6f8fa;

    --color_nice_colored: #0969da;

    --text_color_ordinary: black;
    --text_color_light: white;
    --text_color_colored: var(--color_nice_colored);

    --border_color: #dddddd;
    --border_style: var(--border_color) solid 1px;

    --nice_box_shaddow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

body {
    font-family: Arial, serif;
    font-size: 16px;
    background-color: var(--background_color_light_gray);
}
h1 {
    font-size: 18px;
    color: var(--text_color_colored);
    margin: 4px;
}
h2 {
    font-size: 14px;
    color: var(--text_color_colored);
    margin: 4px;
}
div {
    padding: 8px;
}
.header {
    padding: 0;
    background-color: var(--background_color_dark);
    color: var(--text_color_light);
}

.content_div {
    background-color: var(--background_color);
    margin-left: 220px;
    max-width: 1000px;
    min-height: 100vh;
    border-left: var(--border_style);
    border-right: var(--border_style);
    padding: 20px;
}
.nice_details {
    padding: 0;
    margin: 4px;
    border: var(--border_style);
    border-radius: 4px;
}
.nice_details summary {
    background-color: var(--background_color_light_gray);
    cursor: pointer;
}
/*pre[data-lang]::before { content: attr(data-lang); display: block; }*/
pre {
    background-color: var(--background_color_pre);
    border: var(--border_style);
    border-radius: 4px;
    padding: 8px;
    margin: 16px;
    font-family: Monospaced, monospace, "Courier New";
    font-size: 14px;
    overflow: auto;
    overflow-y: hidden;
}

@media (max-width: 1420px) {
    .leftMenuPanel {
        display: none;
    }
    .menu_button {
        display: none;
    }
    .content_div {
        margin: 0 auto;
    }
}

.main_div {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

.leftMenuPanel {
    position: fixed;
    float: left;
    width: 292px;
    height: 100vh;
    color: var(--text_color_colored);
}

details a {
    font-size: 12px;
}
details {
    border-radius: 4px;
}

details ul{
    margin: 2px 2px 2px 20px;
}

summary {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: list-item;
}

#backToTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--text_color_colored); /* Set a background color */
    color: var(--text_color_light); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
}

#backToTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


#menu_main a {
    display: inline-block;
    padding: 10px 16px;
    color: var(--text_color_light);
}


/*для панельки которая вываливается сверху*/
.top_slide_panel {
    background-color: var(--background_color_dark); /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding: 0;
}

/* Style the navbar links */
.top_slide_panel a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.top_slide_panel a:hover {
    background-color: #ddd;
    color: black;
}









/* Боковое выезжающее меню */
/* The sidepanel menu */
.sidePanel {
    padding-left: 0;
    padding-right: 0;
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--background_color_light_gray);/*#111;*/ /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidepanel */
    overflow-y: scroll;
}

/* The sidepanel links */
.sidePanel a {
    padding: 2px 2px 2px 20px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidePanel a:hover {
    color: var(--text_color_colored);
}

/* Position and style the close button (top right corner) */
.sidePanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-align: justify;
}

/* Style the button that is used to open the sidepanel */
.menu_button {
    cursor: pointer;
    display: none;
}

.openbtn:hover {
    background-color: #444;
}


